@CHARSET "ISO-8859-1";

/*rivedere il font*/
*{
	font-family: verdana;
}

html,body{
  margin:0;
  padding:0;
}

html{
  position:relative; 
  min-height: 100%;
}

body{
	background-color: #fafafa;
}

.container {
	background-color:azure;
	width: 80%;
	display: table;
	border-collapse: collapse;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
    margin-bottom:1%;
    margin-right: auto;
    margin-left: auto;
}

section{	
	display: table-cell;
	width: auto;
	padding-right: 2%;
	padding-left: 2%;
}

#containerSuperiore {
	border-radius:20px ;
	border: 1px solid black;
	margin-left:auto;
	margin-right:auto;
	margin-top:7%;
	margin-bottom:10%;
	width:80%;
	background-color:azure;
}

#containerSuperiore .formelement {
    margin-top: 1.5%;
    width: 100%;
        
}

#containerSuperiore label.registra{
	display: inline-block;
    max-width: 100%;
    width: 25%;
    font-weight: 700;
	float:left;
}

select,input.campi{
	border-radius: 7px;
	width: 40%;
	padding-left:5%;
	padding-right: 5%;
}

select{
	width: 50%;
}

.image-box {
    text-align: center;
    margin: auto;
    display: block;
}

div.top{
	border-radius:20px ;
	background-color: red;
	padding-right: 4%;
    padding-left: 4%;
    padding-top: 0.5%; 
    padding-bottom: 1%;
	margin-bottom: 2%;
}
.buttonreg{
	width:20%;
	margin-bottom:4%; 
	margin-top: 2%;
}

#wrapper{
	margin-right: auto;
	margin-left: auto;
	margin-bottom:80px;
} 
.color{
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	color: white !important;
	font-family: lato;
}

.div-box{
    background-color: #FFF;
    padding: 8px;
    border: 1px solid #DDD;
}

.horizontal{
	display: flex !important;  	
}

.icon{
	size: 20px !important;
}

header{
	border: 1px solid black;
	border-radius:40px;
	width:99%;	
	margin-left: auto;
	margin-right: auto;
	height: 80px;
	background: linear-gradient(141deg, #FF0000 0%, #FF1616 51%, #EE9587 90%);
}

.logo{
	float: left;
	margin-left: 5%;	
}

.menu{
	float: right;
	margin-right: 5%;
}
.menu ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	margin-top: 30px;
}

.menu ul li{
	float: left;
}

.menu ul li a{
	color: #000;
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
}

.menu .icon{
  display: none;
}

.menu-text{
	color : white !important;
}

.center {
    margin: 0 auto;
    width: 70%;
}

.footer{
	border: 1px solid black;
	border-radius:40px;
	width:99%;
	margin-left: 6px;
	background: linear-gradient(141deg, #FF0000 0%, #FF1616 51%, #EE9587 90%);
	text-align: center;
	height: 80px !important;
	position: absolute;
    bottom: 0;
    
}

.inutile{
	display: inline;
}

.recPsw{
	color:#2370c5;
}

.recPsw:hover{
	cursor:pointer;	
	color:#154579;
	text-decoration:underline;	
}

#log{
	color:#2370c5;
}

#log:hover{
	cursor:pointer;	
	color:#154579;
	text-decoration:underline;
}

.form-control{
	width: 80% !important;
}


.container{
	width: 100% !important;
}

.hide{
	display:none;
}


.input-length{
	width: 33% !important;
}

.left-side{
	padding-left: 88%;
}

.distance{
	width: 250px;
}

.but{
	border: 0px !important; 
	background-color: transparent !important;
}

.screen{
	
}

.naviBar{
		display: none !important;		
}

.text-color{
	color: white !important;
}

.tarDiv{
	display: none !important;
}

.display-block{
	display: inline !important;
}

.row-374{
    margin-top:40px;   
    padding: 0 10px;
}

.clickable{
	    cursor: pointer;   
}

.panel-heading div {
	margin-top: -18px;
	font-size: 15px;
}
.panel-heading div span{
	margin-left:5px;
}
.panel-body{
	display: none;
}

.container-table{
	padding: 0px; 
	margin-bottom: 40px;
}

#tabs { font-size: small; }
#tabs li {
    list-style: none;
    float: left;
    width: 200px;
    height: 35px;
    margin: 0;
    margin-left: -40px;
    border-bottom: 5px solid rgba(255, 196, 28, 0.8);
	background-color: #ff1c1c;
}
    #tabs li a {
        background-color: rgba(255, 0, 0, 0.94);
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        width: 200px;
        height: 35px;
        display: block;
        float: left;
        line-height: 35px;
        text-align: center;
    }
        #tabs li a:hover,
        #tabs li a:active { 
        background-color: rgba(255, 196, 28, 0.78);
    	border-bottom: 5px solid rgba(28, 255, 161, 0.8);
    	width: 200px;
    	 }

	div.content {
        color: #222;
        font-family: Verdana;
        font-size: small;
        background-color: rgba(255, 0, 0, 0.83);
        padding: 25px;
        width: 800px;
        height: 350px;
        line-height: 22px;
    }
	
	#containerTab { clear: both; height: 400px; overflow: hidden; }
	div.allineasinistra{
		float:left;
		margin-top:30px;
		
	}
	div.displayTab{
	display:inline-flex;	
	margin-bottom:7%;
	}

/*********************************************/
@media only screen and (max-width: 1060px){

		body {
			margin-left: auto;
			margin-right: auto;
			width: 95%;
			font-size: small;
	    }
		
		select,input.campi{
			width: 75%;
			padding-left:1%;
			padding-right: 1%;
		}
		select{
			width: 80%;
		}
		
		#containerSuperiore {
			margin-left:auto;
			margin-right:auto;
			margin-top:4%;
			margin-bottom:30%;
			width:55%;
			background-color:azure;
		}
				
		#containerSuperiore label.registra{
 		   max-width: 100%;
    	   width: 30%;
    	   font-weight: 600;
		   float:left;
		}
		img{
		width: 110px;
		height: auto;
		}
		
		.buttonreg{
			width:55%
		}
		
     /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/* Label the data */
	#no-more-tables td:before { content: attr(data-title); }
	
	
	
	ul#tabs {
    font-size: small;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul#tabs li {
	display: block;
	border-bottom: 5px solid rgba(255, 196, 28, 0.8);
	background-color: #ff1c1c;
    list-style: none;
    float: left;
    width: 117px;
    height: 35px;
    margin: 1px;
}


    ul#tabs li a {
		background-color: rgba(255, 0, 0, 0.94);
        color: #fff;
        font-weight: bold;
        font-size: x-small;
        text-decoration: none;
        width: 117px;
        height: 35px;
        display: block;
        float: left;
        line-height: 35px;
        text-align: center;
    }

  
ul#tabs li.active, ul#tabs li a:hover {
     background-color: rgba(255, 196, 28, 0.78);
    border-bottom: 5px solid rgba(28, 255, 161, 0.8);
}
	div.content {
        color: #222;
        font-size: small;
        background-color: rgba(255, 0, 0, 0.83);
        width: 100%;
        height: 90%;
        line-height: 22px;
    }
	
	#containerTab { clear: both; height: 400px; overflow: hidden; width:80%}

	
		
}


	
/*************************************************************************************/
@media screen and (max-width: 580px) {

	#containerSuperiore {
		margin-left:auto;
		margin-right:auto;
		margin-top:4%;
		margin-bottom:30%;
		width:95%;
		background-color:azure;
	}
	
	.container {
	background-color:azure;
	width: 85%;
	}
			
	#containerSuperiore label.registra {
 		max-width: 100%;
    	width: 40%;
    	font-weight: 600;
		float:left;
	}
	
	select,input.campi{
		font-size:xx-small;
		width: 65%;
		padding-left:10%;
		padding-right: 5%;
	}
	select{
		width: 80%;
	}
	
	img{
		width: 110px;
		height: auto;
	}
	
	.buttonreg{
	width:50%
	}
	
	.menu nav ul li a{
 		display: none;
 	}
 	
  	.menu a.icon {
    float: right;
    display: block;
  	}
  	
  	.menu.responsive {
  		position: relative;
  	}
  	
  	.menu.responsive .icon {
    	position: absolute;
    	right: 0;
    	top: 0;
  	}
  	
  	.menu.responsive ul {
    	float: left;
    	display: block;
    	text-align: left;
  	}
  	
  	ul#tabs {
    font-size: small;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul#tabs li {
	display: block;
	border-bottom: 5px solid rgba(255, 196, 28, 0.8);
	background-color: #ff1c1c;
    list-style: none;
    float: initial;
    width: 190px;
    height: 35px;
    margin: 1px;
}


    ul#tabs li a {
		background-color: rgba(255, 0, 0, 0.94);
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        width: 80%;
        height: 35px;
        display: block;
        line-height: 35px;
        text-align: center;
    }

  
ul#tabs li.active, ul#tabs li a:hover {
     background-color: rgba(255, 196, 28, 0.78);
    border-bottom: 5px solid rgba(28, 255, 161, 0.8);
}
	div.content {
        color: #222;
        font-size: x-small;
        background-color: rgba(255, 0, 0, 0.83);
        width: 80%;
        height: 90%;
        line-height: 22px;
    }
	
	#containerTab { clear: both; height: 500px; overflow: hidden; width:90%}

  	
  	
}



/*************************************************************************************/
@media screen and (min-width: 450px){
	
	.divHorizontal{
	    display: -webkit-flex; /* Safari */
	    -webkit-justify-content: space-around; /* Safari 6.1+ */
	    display: flex;
	    justify-content: space-around;
	}
	
}